In [1]:
import pandas, seaborn, matplotlib
import os, sys
import numpy

In [2]:
df = pandas.read_excel('../data/AmesHousing.xls')
df.head(10)

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900
5,6,527105030,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,6,2010,WD,Normal,195500
6,7,527127150,120,RL,41.0,4920,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,213500
7,8,527145080,120,RL,43.0,5005,Pave,NaN,IR1,HLS,...,0,NaN,NaN,NaN,0,1,2010,WD,Normal,191500
8,9,527146030,120,RL,39.0,5389,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,3,2010,WD,Normal,236500
9,10,527162130,60,RL,60.0,7500,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,6,2010,WD,Normal,189000

In [3]:
df.isnull().sum() 
# df2 = df.dropna()
# print( df2.isnull().sum() )

Order                0
PID                  0
MS SubClass          0
MS Zoning            0
Lot Frontage       490
Lot Area             0
Street               0
Alley             2732
Lot Shape            0
Land Contour         0
Utilities            0
Lot Config           0
Land Slope           0
Neighborhood         0
Condition 1          0
Condition 2          0
Bldg Type            0
House Style          0
Overall Qual         0
Overall Cond         0
Year Built           0
Year Remod/Add       0
Roof Style           0
Roof Matl            0
Exterior 1st         0
Exterior 2nd         0
Mas Vnr Type        23
Mas Vnr Area        23
Exter Qual           0
Exter Cond           0
                  ...
Bedroom AbvGr        0
Kitchen AbvGr        0
Kitchen Qual         0
TotRms AbvGrd        0
Functional           0
Fireplaces           0
Fireplace Qu      1422
Garage Type        157
Garage Yr Blt      159
Garage Finish      159
Garage Cars          1
Garage Area          1
Garage Qual        159
Garage Cond        159
Paved Drive          0
Wood Deck SF         0
Open Porch SF        0
Enclosed Porch       0
3Ssn Porch           0
Screen Porch         0
Pool Area            0
Pool QC           2917
Fence             2358
Misc Feature      2824
Misc Val             0
Mo Sold              0
Yr Sold              0
Sale Type            0
Sale Condition       0
SalePrice            0
Length: 82, dtype: int64

In [4]:
df.shape

(2930, 82)

In [5]:
df.columns

Index(['Order', 'PID', 'MS SubClass', 'MS Zoning', 'Lot Frontage', 'Lot Area',
       'Street', 'Alley', 'Lot Shape', 'Land Contour', 'Utilities',
       'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1',
       'Condition 2', 'Bldg Type', 'House Style', 'Overall Qual',
       'Overall Cond', 'Year Built', 'Year Remod/Add', 'Roof Style',
       'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type',
       'Mas Vnr Area', 'Exter Qual', 'Exter Cond', 'Foundation', 'Bsmt Qual',
       'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin SF 1',
       'BsmtFin Type 2', 'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF',
       'Heating', 'Heating QC', 'Central Air', 'Electrical', '1st Flr SF',
       '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area', 'Bsmt Full Bath',
       'Bsmt Half Bath', 'Full Bath', 'Half Bath', 'Bedroom AbvGr',
       'Kitchen AbvGr', 'Kitchen Qual', 'TotRms AbvGrd', 'Functional',
       'Fireplaces', 'Fireplace Qu', 'Garage Type', 'Garage Yr Blt',
       'Garage Finish', 'Garage Cars', 'Garage Area', 'Garage Qual',
       'Garage Cond', 'Paved Drive', 'Wood Deck SF', 'Open Porch SF',
       'Enclosed Porch', '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Pool QC',
       'Fence', 'Misc Feature', 'Misc Val', 'Mo Sold', 'Yr Sold', 'Sale Type',
       'Sale Condition', 'SalePrice'],
      dtype='object')

In [6]:
# As "Alley" has 2732 rows empty we're dropping it
# Fireplace Qu      1422
# Pool QC           2917
# Fence             2358
# Misc Feature      2824
df2 = df.drop(columns = {"Alley", "Fireplace Qu", "Pool QC", "Fence", "Misc Feature"} )
df2 = df2.dropna()
print( df2. shape, df.shape)

(2218, 77) (2930, 82)

In [7]:
df2.var()

Order              7.263813e+05
PID                3.549135e+16
MS SubClass        1.800148e+03
Lot Frontage       5.448666e+02
Lot Area           4.252451e+07
Overall Qual       1.953479e+00
Overall Cond       1.131126e+00
Year Built         9.549593e+02
Year Remod/Add     4.428112e+02
Mas Vnr Area       3.434711e+04
BsmtFin SF 1       2.175499e+05
BsmtFin SF 2       2.821691e+04
Bsmt Unf SF        1.937870e+05
Total Bsmt SF      1.763186e+05
1st Flr SF         1.572558e+05
2nd Flr SF         1.801603e+05
Low Qual Fin SF    1.909926e+03
Gr Liv Area        2.533150e+05
Bsmt Full Bath     2.694093e-01
Bsmt Half Bath     5.859469e-02
Full Bath          2.970791e-01
Half Bath          2.469051e-01
Bedroom AbvGr      6.036421e-01
Kitchen AbvGr      2.893698e-02
TotRms AbvGrd      2.374167e+00
Fireplaces         4.087866e-01
Garage Yr Blt      6.880518e+02
Garage Cars        4.492340e-01
Garage Area        3.778488e+04
Wood Deck SF       1.510078e+04
Open Porch SF      4.379514e+03
Enclosed Porch     4.128349e+03
3Ssn Porch         6.371594e+02
Screen Porch       3.321939e+03
Pool Area          1.287483e+03
Misc Val           2.671573e+05
Mo Sold            7.429042e+00
Yr Sold            1.755412e+00
SalePrice          6.960357e+09
dtype: float64

In [85]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [9]:
# model "Linear Regression"
model = LinearRegression()

X = df2[['Lot Area', 'Mas Vnr Area', 'Gr Liv Area']]
y = df2.SalePrice

# distributing Training and Testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

print( model.fit(X_train, y_train), model.score(X_test, y_test) )

model.intercept_ , model.coef_

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False) 0.5596716275534689

(18361.959543811216, array([  1.18735455, 117.97681398,  95.42084995]))

In [10]:
# from sklearn.cluster import KMeans
# modelknn = KMeans(n_clusters=16)

# # X (features) must be a list columns
# X = df2[['MS SubClass']]

# # Now we do the clustering
# modelknn.fit(X)

# df2['kmeans'] = modelknn.labels_    # valid because order of rows is same as order of labels.
# seaborn.relplot(x='MS SubClass', y='SalePrice', hue='kmeans', data=df2)

In [12]:
# model "Linear Regression"
model = LinearRegression()

X = df2[['MS SubClass']]
y = df2.SalePrice

# distributing Training and Testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

print( model.fit(X_train, y_train), model.score(X_test, y_test), model.intercept_ , model.coef_ )

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False) -0.009203254389180682 198013.90300453326 [-204.40322464]

In [16]:
# S = {}
# for column in df2.columns:
#     # model "Linear Regression"
#     model = LinearRegression()

#     X = df2[[column]]
#     y = df2.SalePrice

#     # distributing Training and Testing set
#     X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
#     S[column] = {"intercept" : model.intercept_ , "coef" : model.coef_}
#     print( column, " : ", model.fit(X_train, y_train), model.score(X_test, y_test) )

## Feature Selection

Feature selection is the most important part of Regression

[Feature selection](http://scikit-learn.org/stable/modules/feature_selection.html)

In [17]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [18]:
X, y = df[ ['Overall Qual', 'Overall Cond', 'Year Built', 'Year Remod/Add' ] ], df.SalePrice

In [41]:
df2.columns[:55]

Index(['Order', 'PID', 'MS SubClass', 'MS Zoning', 'Lot Frontage', 'Lot Area',
       'Street', 'Lot Shape', 'Land Contour', 'Utilities', 'Lot Config',
       'Land Slope', 'Neighborhood', 'Condition 1', 'Condition 2', 'Bldg Type',
       'House Style', 'Overall Qual', 'Overall Cond', 'Year Built',
       'Year Remod/Add', 'Roof Style', 'Roof Matl', 'Exterior 1st',
       'Exterior 2nd', 'Mas Vnr Type', 'Mas Vnr Area', 'Exter Qual',
       'Exter Cond', 'Foundation', 'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure',
       'BsmtFin Type 1', 'BsmtFin SF 1', 'BsmtFin Type 2', 'BsmtFin SF 2',
       'Bsmt Unf SF', 'Total Bsmt SF', 'Heating', 'Heating QC', 'Central Air',
       'Electrical', '1st Flr SF', '2nd Flr SF', 'Low Qual Fin SF',
       'Gr Liv Area', 'Bsmt Full Bath', 'Bsmt Half Bath', 'Full Bath',
       'Half Bath', 'Bedroom AbvGr', 'Kitchen AbvGr', 'Kitchen Qual',
       'TotRms AbvGrd'],
      dtype='object')

In [36]:
X = df2.columns[2:52]

In [37]:
X_new = SelectKBest(chi2, k=4).fit_transform(X, y)
X_new.shape

ValueError: could not convert string to float: 'Bedroom AbvGr'

## Normalize and Standardize data with preprocessing

### Pandas get_dummies

In [ ]:
mydf = pandas.DataFrame({'temperature':[30,10,27,24,-6],
                     'feeling':['Hot', 'Cold', 'Hot', 'Hot', 'Cold'],
                     'weather':['Sunny', 'Rainy', 'Rainy', 'Sunny', 'Snowy']})
dummy_df = pandas.get_dummies(mydf[['feeling', 'weather']])
pandas.concat([mydf[['temperature']],dummy_df], axis = 1)

### sklearn OneHotEncoder

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
encoder = OneHotEncoder(handle_unknown='ignore')

## Regression

In [42]:
df2.columns[:55]

Index(['Order', 'PID', 'MS SubClass', 'MS Zoning', 'Lot Frontage', 'Lot Area',
       'Street', 'Lot Shape', 'Land Contour', 'Utilities', 'Lot Config',
       'Land Slope', 'Neighborhood', 'Condition 1', 'Condition 2', 'Bldg Type',
       'House Style', 'Overall Qual', 'Overall Cond', 'Year Built',
       'Year Remod/Add', 'Roof Style', 'Roof Matl', 'Exterior 1st',
       'Exterior 2nd', 'Mas Vnr Type', 'Mas Vnr Area', 'Exter Qual',
       'Exter Cond', 'Foundation', 'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure',
       'BsmtFin Type 1', 'BsmtFin SF 1', 'BsmtFin Type 2', 'BsmtFin SF 2',
       'Bsmt Unf SF', 'Total Bsmt SF', 'Heating', 'Heating QC', 'Central Air',
       'Electrical', '1st Flr SF', '2nd Flr SF', 'Low Qual Fin SF',
       'Gr Liv Area', 'Bsmt Full Bath', 'Bsmt Half Bath', 'Full Bath',
       'Half Bath', 'Bedroom AbvGr', 'Kitchen AbvGr', 'Kitchen Qual',
       'TotRms AbvGrd'],
      dtype='object')

In [ ]:
 Numerical Value: 'MS SubClass',  'Lot Frontage', 'Lot Area', 
        'Overall Qual', 'Overall Cond', 'Year Built', 
        'Mas Vnr Area',

In [ ]:
String Value: 'MS Zoning', 'Street', 'Lot Shape', 'Land Contour', 'Utilities', 'Lot Config',
    'Land Slope', 'Neighborhood', 'Condition 1', 'Condition 2', 'Bldg Type',
    'House Style', 'Roof Style', 'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 
    'Mas Vnr Type', 'Exter Qual',

In [ ]:
1 feature : 'Utilities': 'AllPub',  ( 'Mas Vnr Type', 'Mas Vnr Area' )

In [69]:
df2["Mas Vnr Area"].unique()

array([1.120e+02, 0.000e+00, 1.080e+02, 2.000e+01, 6.030e+02, 3.500e+02,
       1.190e+02, 4.800e+02, 8.100e+01, 5.040e+02, 4.920e+02, 3.810e+02,
       1.620e+02, 2.000e+02, 4.500e+02, 2.560e+02, 2.260e+02, 6.150e+02,
       2.400e+02, 1.680e+02, 7.600e+02, 1.280e+02, 1.095e+03, 2.320e+02,
       4.120e+02, 1.780e+02, 1.060e+02, 1.400e+01, 1.600e+01, 1.650e+02,
       1.140e+02, 3.380e+02, 3.620e+02, 3.480e+02, 3.000e+01, 5.790e+02,
       3.600e+01, 1.220e+02, 1.300e+02, 2.500e+02, 1.800e+02, 1.200e+02,
       2.160e+02, 4.200e+01, 1.720e+02, 2.680e+02, 1.560e+02, 2.650e+02,
       3.400e+02, 1.100e+02, 1.640e+02, 3.610e+02, 5.060e+02, 2.200e+02,
       3.240e+02, 9.100e+01, 4.320e+02, 1.040e+02, 3.000e+02, 2.610e+02,
       2.180e+02, 3.510e+02, 7.710e+02, 2.940e+02, 9.000e+01, 4.700e+01,
       1.430e+02, 9.600e+01, 3.360e+02, 1.770e+02, 8.500e+01, 2.460e+02,
       7.200e+01, 2.400e+01, 8.000e+01, 1.160e+02, 3.200e+02, 2.230e+02,
       4.420e+02, 1.710e+02, 1.090e+02, 9.800e+01, 1.450e+02, 2.030e+02,
       3.710e+02, 4.300e+02, 4.400e+01, 1.860e+02, 6.000e+01, 8.400e+01,
       4.400e+02, 3.200e+01, 1.600e+02, 4.000e+01, 4.500e+01, 7.480e+02,
       4.640e+02, 1.570e+02, 2.780e+02, 2.090e+02, 1.010e+02, 1.440e+02,
       2.060e+02, 1.890e+02, 1.960e+02, 1.740e+02, 3.120e+02, 1.420e+02,
       4.250e+02, 5.100e+02, 2.300e+02, 7.260e+02, 8.600e+02, 6.400e+02,
       3.060e+02, 1.540e+02, 3.050e+02, 4.200e+02, 4.720e+02, 4.240e+02,
       3.020e+02, 2.380e+02, 2.840e+02, 2.620e+02, 2.850e+02, 4.180e+02,
       9.220e+02, 7.240e+02, 3.830e+02, 1.350e+02, 1.760e+02, 1.660e+02,
       7.300e+02, 4.700e+02, 3.080e+02, 5.000e+02, 2.700e+02, 1.630e+02,
       1.100e+01, 6.730e+02, 1.500e+02, 9.750e+02, 9.210e+02, 2.860e+02,
       5.280e+02, 1.940e+02, 2.600e+02, 1.980e+02, 1.210e+02, 1.000e+02,
       2.880e+02, 2.640e+02, 1.400e+02, 1.320e+02, 3.660e+02, 1.530e+02,
       7.600e+01, 8.940e+02, 5.130e+02, 4.560e+02, 3.600e+02, 2.520e+02,
       9.500e+01, 2.170e+02, 3.000e+00, 2.100e+02, 5.760e+02, 1.830e+02,
       3.990e+02, 6.500e+02, 6.570e+02, 7.000e+01, 2.950e+02, 3.680e+02,
       8.200e+01, 1.240e+02, 4.440e+02, 9.200e+01, 8.900e+01, 5.400e+01,
       1.490e+02, 2.340e+02, 1.370e+02, 2.750e+02, 2.420e+02, 3.640e+02,
       3.520e+02, 6.800e+01, 2.550e+02, 2.590e+02, 8.800e+01, 4.060e+02,
       3.100e+02, 5.840e+02, 2.900e+02, 1.820e+02, 2.450e+02, 2.960e+02,
       1.230e+02, 1.020e+02, 6.210e+02, 2.800e+02, 6.600e+02, 3.590e+02,
       1.580e+02, 4.220e+02, 1.270e+02, 6.040e+02, 3.560e+02, 4.260e+02,
       2.720e+02, 8.160e+02, 4.360e+02, 5.540e+02, 4.680e+02, 1.260e+02,
       6.800e+02, 6.640e+02, 2.920e+02, 1.110e+03, 2.210e+02, 7.660e+02,
       6.160e+02, 7.140e+02, 1.460e+02, 3.180e+02, 6.470e+02, 1.290e+03,
       4.730e+02, 4.950e+02, 6.510e+02, 4.480e+02, 7.400e+01, 5.300e+01,
       7.680e+02, 3.800e+01, 2.580e+02, 5.680e+02, 2.120e+02, 4.660e+02,
       5.640e+02, 1.480e+02, 2.430e+02, 4.910e+02, 1.360e+02, 2.370e+02,
       4.100e+02, 1.870e+02, 3.870e+02, 5.200e+01, 1.250e+02, 4.150e+02,
       3.350e+02, 3.900e+01, 2.990e+02, 9.900e+01, 2.510e+02, 4.020e+02,
       2.810e+02, 2.020e+02, 1.920e+02, 1.700e+02, 2.150e+02, 1.130e+02,
       5.000e+01, 2.660e+02, 2.220e+02, 7.960e+02, 1.150e+02, 2.280e+02,
       2.190e+02, 6.740e+02, 1.970e+02, 1.115e+03, 1.380e+02, 7.100e+02,
       9.450e+02, 6.700e+01, 5.490e+02, 2.530e+02, 2.630e+02, 3.650e+02,
       5.670e+02, 3.040e+02, 3.760e+02, 3.780e+02, 4.520e+02, 2.540e+02,
       3.280e+02, 3.150e+02, 1.900e+02, 4.000e+02, 3.750e+02, 7.720e+02,
       2.480e+02, 9.700e+02, 3.440e+02, 5.020e+02, 3.880e+02, 3.940e+02,
       2.350e+02, 2.200e+01, 5.150e+02, 1.170e+03, 5.940e+02, 3.090e+02,
       5.260e+02, 7.540e+02, 2.080e+02, 4.280e+02, 2.050e+02, 2.980e+02,
       3.530e+02, 1.050e+02, 3.370e+02, 3.420e+02, 1.129e+03, 1.600e+03,
       6.000e+02, 4.100e+01, 5.250e+02, 6.600e+01, 6.300e+01, 5.600e+01,
       2.240e+02, 2.910e+02, 1.000e+00, 6.900e+01, 2.890e+02, 8.600e+01,
       2.790e+02, 4.350e+02, 2.040e+02, 1.670e+02, 5.100e+01, 2.140e+02,
       5.190e+02, 4.380e+02, 4.800e+01, 1.224e+03, 7.620e+02, 4.230e+02,
       4.810e+02, 2.740e+02, 1.170e+02, 8.860e+02, 2.360e+02, 1.340e+02,
       2.440e+02, 4.340e+02, 2.700e+01, 6.620e+02, 1.840e+02, 7.340e+02,
       5.500e+02, 1.031e+03, 5.140e+02, 4.080e+02, 3.800e+02, 2.970e+02,
       3.700e+02, 3.850e+02, 7.880e+02, 5.620e+02, 8.700e+02, 9.400e+01,
       5.180e+02, 5.720e+02, 3.220e+02, 1.378e+03, 5.300e+02, 3.970e+02,
       7.380e+02, 3.910e+02, 1.180e+02, 4.600e+01, 6.920e+02, 3.320e+02,
       1.750e+02, 6.400e+01, 5.220e+02, 1.047e+03, 3.790e+02, 1.610e+02,
       2.070e+02, 9.700e+01, 5.320e+02, 6.200e+01, 2.270e+02, 1.690e+02,
       4.590e+02, 4.050e+02, 3.270e+02, 2.570e+02, 2.930e+02, 6.300e+02,
       3.820e+02, 4.430e+02])

In [70]:
def validate_model(model, X, y):
    scores = []
    for i in range(100):
        # distributing Training and Testing set
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4)

        model.fit(X_train, y_train)

        scores.append( model.score(X_test, y_test) ) 

    scores = numpy.array( scores )
    return numpy.mean( scores ), model

In [74]:
model_X = df2[ ['Overall Qual', 'Overall Cond', 'Year Built', 'Year Remod/Add' ] ]
model_y = df2.SalePrice

In [88]:
# model "Linear Regression"
model_LR = LinearRegression(normalize=True)

score, model_LR = validate_model( model_LR, model_X, model_y )
score, model_LR

(0.65242815441687,
 LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=True))

In [77]:
# model "Linear Regression" with normalize = False
model_LR = LinearRegression()

score, model_LR = validate_model( model_LR, model_X, model_y )
score, model_LR

(0.6530394166373299,
 LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False))

In [84]:
from sklearn import linear_model

In [86]:
model_R = linear_model.Ridge (alpha = .5)
score_R, model_R = validate_model( model_LR, model_X, model_y )

score_R, model_R

(0.6510835787541679,
 LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False))

In [87]:
model_L = linear_model.Lasso(alpha = 0.1)
score_L, model_L = validate_model( model_L, model_X, model_y )

score_L, model_L

(0.6519826520060993,
 Lasso(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=1000,
    normalize=False, positive=False, precompute=False, random_state=None,
    selection='cyclic', tol=0.0001, warm_start=False))

In [91]:
df2["LR"] = model_LR.predict(model_X)
df2["RR"] = model_R.predict(model_X)
df2["LeR"] = model_L.predict(model_X)

In [92]:
df2.sample(10)

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Lot Shape,Land Contour,Utilities,...,Pool Area,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice,LR,RR,LeR
2743,2744,905475150,20,RL,57.0,6420,Pave,IR1,Lvl,AllPub,...,0,0,9,2006,WD,Normal,123500,115702.449958,114774.620999,116498.420081
51,52,528218150,20,RL,100.0,18494,Pave,IR1,Lvl,AllPub,...,0,0,1,2010,WD,Normal,199500,188665.025161,189634.047661,190893.391443
1185,1186,534126090,20,RL,80.0,10400,Pave,Reg,Lvl,AllPub,...,0,0,5,2008,WD,Normal,174000,215414.954708,212278.782027,212378.308637
1871,1872,534176140,20,RL,88.0,10738,Pave,IR1,Lvl,AllPub,...,0,400,11,2007,WD,Normal,158500,166425.417075,165224.691201,166112.329900
1797,1798,528458120,60,FV,75.0,9000,Pave,Reg,Lvl,AllPub,...,0,0,12,2007,WD,Normal,270000,278346.982947,276255.620087,275716.517182
65,66,528386040,50,RL,56.0,14720,Pave,IR1,Lvl,AllPub,...,0,0,3,2010,WD,Normal,410000,273931.937174,270829.032904,270232.150038
398,399,527405160,20,RL,60.0,6960,Pave,Reg,Lvl,AllPub,...,0,500,11,2009,WD,Normal,120500,81545.572276,83139.677165,85943.880802
2269,2270,916455150,20,RL,80.0,11305,Pave,Reg,Lvl,AllPub,...,0,0,4,2007,WD,Normal,282000,276604.171622,274140.276683,273582.488456
52,53,528228285,120,RL,43.0,3203,Pave,Reg,Lvl,AllPub,...,0,0,1,2010,WD,Normal,160000,233723.855470,233209.251799,233571.707903
1752,1753,528250070,60,RL,63.0,7875,Pave,Reg,Lvl,AllPub,...,0,0,7,2007,WD,Normal,211000,232416.746975,231622.744246,231971.186359

## Use multiple regression model to predict

stacker = LinearRegression()
stacker.fit( df[ [ 'predictedSVR', 'predictedLASSO', 'predictedGBR' ] ], df['predicted'] )

stacker.predict()